@font-face {
  font-family: "Antipasto Pro";
  font-weight: 400;
  font-style: normal;
  src: local("Antipasto Pro Regular"),
        local("AntipastoPro-Regular"),
        url("../fonts/AntipastoPro-Regular.woff2") format('woff2'),
        url("../fonts/AntipastoPro-Regular.woff") format('woff'),
        url("../fonts/AntipastoPro-Regular.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: "Antipasto Pro";
  font-weight: 800;
  font-style: normal;
  src: local("Antipasto Pro Extra Bold"),
        local("AntipastoPro-ExtraBold"),
        url("../fonts/AntipastoPro-ExtraBold.woff2") format('woff2'),
        url("../fonts/AntipastoPro-ExtraBold.woff") format('woff'),
        url("../fonts/AntipastoPro-ExtraBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: "Swanston";
  font-weight: 400;
  font-style: normal;
  src: local("Swanston"),
  url("../fonts/Swanston.ttf") format('ttf');
}
@font-face {
  font-family: "Swanston";
  font-weight: 700;
  font-style: normal;
  src: local("Swanston-Bold"),
        local("Swanston Bold"),
        url("../fonts/Swanston-Bold.ttf") format('ttf');
}